body {
    background-color: white;


}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 500px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    border-radius: 50%;
    margin: auto;
    background-color: goldenrod;
}

  .blocks div{
    display: flex;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:  150px;
    height: 230px;
    margin: auto;
    background-color:silver;
    border: 6px solid #ffffff;
    border-radius: 15%;
    
    

}
