body {
    
    background-color: rgba(7, 1, 1, 0.934);


}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 400px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    border-radius: 50%;
    margin: auto;
    background-color: goldenrod;
    outline: none;
    
}


.row {
    text-align: center;
    }
    .card {
    display: inline-block;
    width: 160px;
    height: 110px;
    cursor: pointer;
    transform: translateY(-10px);
    transition: all o.5s ease-in-out;
    
    }
    .cards.done {
        cursor: default;
        
    }
    .card.done:hover {
        cursor: default;
        box-shadow: none;
        
    }
    .card:hover {
        box-shadow: inset 0px 0px 0px 2px green;
        box-sizing: border-box;
        transition: all o.9s ease-in;
    }

   

    .red {
        background-image: url(../img/photo-1.jpeg);
        background-size: contain;
    }
    .green {
        background-image: url(../img/photo-2.jpeg);
        background-size: contain;
        background-color: green;
    }
    .blue {
        background-image: url(../img/photo-3.jpeg);
        background-size: contain;
        
    }
    .yellow {
        background-image: url(../img/photo-4.jpeg);
        background-size: contain;
        
    }
    .purple {
        background-image: url(../img/photo-5.jpeg);
        background-size: contain;
        
    }
    .goldenrod {
        background-image: url(../img/photo-6.jpeg);
        background-size: contain;
        
    }
    
    .color-hidden {
        background-image: url(../img/photo-7.jpeg);
        background-size: cover;
    }

